<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <span v-bind:title="message">
      Hover chuột vào đây sẽ thấy tooltip
    </span>
  </div>

  <div id="app-3">
    <span v-if="seen">Nếu seen == true => Thì sẽ nhìn thấy dòng này</span>
  </div>

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        message: "Hello Tungts!"
      }
    });

    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'This is tooltip ' + new Date().toLocaleString()
      }
    });

    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    });

    var app4 = new Vue({
      el: '#app-4',
      data: {
        todos: [
          { text: 'Learn JavaScript' },
          { text: 'Learn Vue' },
          { text: 'Build something awesome' }
        ]
      }
    })

    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: "Test Click"
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })

    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: 'Hello Vue!'
      }
    });

  </script>
</body>

</html>