<!DOCTYPE html>
<html>

<head>
  <title>Test component</title>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <span>{{message}}</span>
  </div>

  <div>
    <button onclick="destroyVM()">Test Destroy</button>
  </div>
</body>

<script>
  var app = new Vue({
    el: "#app",
    data: {
      message: "Hello Tungts!"
    },

    beforeCreated: function () {
      this.message = 'beforeCreated';
      console.log('beforeCreated');
    },

    created: function () {
      this.message = 'created';
      console.log('created');
    },

    beforeMount: function () {
      this.message = 'beforeMount';
      console.log('beforeMount');
    },

    mounted: function () {
      this.message = 'mounted';
      console.log('mounted');
    },

    beforeUpdate: function () {
      // this.message = 'beforeUpdate';
      console.log('beforeUpdate');
    },

    updated: function () {
      // this.message = 'updated';
      console.log('updated');
    },

    beforeDestroy: function () {
      // this.message = 'beforeDestroy';
      console.log('beforeDestroy');
    },

    destroyed: function () {
      // this.message = 'destroy';
      console.log('destroyed ');
    },

  });

  function destroyVM() {
    app.$destroy();
    console.log('destroyVM');
  }
</script>


</html>