<!DOCTYPE html>
<html>

<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>

  <div id="app">
    <div>
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address">
      </template>
      <button v-on:click="changeLoginType">Click</button>
    </div>

    <div>
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
      </template>
      <button v-on:click="changeLoginType">Click</button>
    </div>

    <h1 v-show="ok">Hello!</h1>


  </div>

  <script>

    var vue = new Vue({
      el: '#app',
      data: {
        loginType: 'username',
        ok: true
      },
      methods: {
        changeLoginType: function () {
          this.loginType = this.loginType === 'username' ? 'email' : 'username'
        }
      }
    })

  </script>
</body>

</html>